input{
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    width:400px;
    border: 1px solid lightgray;
    padding: 10px 15px;
    border-radius: 8px;
    outline:none;
}
button{
    padding: 10px 25px;
    width: fit-content;
}